@model MehmetDevBlog.Models.CitiesExample

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Register Now</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                {
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">First name</label>
                            @Html.TextBoxFor(x=>x.Writer.WriterName, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x=>x.Writer.WriterName,"", new { @class = "text-danger"})
                            @*                            <input type="text" class="form-control" id="validationDefault01" name="WriterName" placeholder="" required="">
                            *@
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Mail Adress</label>
                            @Html.TextBoxFor(x=>x.Writer.WriterMail, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x=>x.Writer.WriterMail,"", new { @class = "text-danger"})
                            @*                            <input type="email" class="form-control" id="validationDefault02" name="WriterMail" placeholder="" required="">
                            *@
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Password</label>
                            @Html.TextBoxFor(x=>x.Writer.WriterPassword, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x=>x.Writer.WriterPassword,"", new { @class = "text-danger")
                            @*                            <input type="password" class="form-control" id="password1" name="WriterPassword" placeholder="" required="">
                            *@
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword2 mb-2">Image File Path</label>
                            @Html.TextBoxFor(x=>x.Writer.WriterImage, new {@class = "form-control"})
                            @Html.ValidationMessageFor(x=>x.Writer.WriterImage,"", new { @class = "text-danger"})
                            @*                            <input type="text" class="form-control" id="password2" name="WriterImage" placeholder="" required="">
                            *@
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Select City</label>
                            @Html.DropDownListFor(x=>x.cityId, new SelectList(CitiesExample.exampleCities,"cityId","cityName"), new {@class = "form-control"})
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                    <p>
                        <a href="#" id="btn1">By clicking Signup, I agree to your terms</a>
                    </p>
                }

            </div>
        </div>
    </div>
    <br />
    <script>
        $('#btn1').click(function(){
            swal("Terms", "Information and news e-mails will continue to be sent via the e-mail address you provide on our site, in a way that will not be spam. Your passwords and e-mail addresses are securely stored in our databases so that no user can access them.");
        });
    </script>
</section>

